/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .nav-link{
    color: brown;

  }
  #logo{
    font-size:26px;

    color: brown;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
  }